.leftSectionContainer {
    display: flex;
    flex-direction: column;
    /*flex-shrink: 0;*/

    position: sticky;
    top: 4rem;
    max-height: calc(100vh - 4rem);

    min-width: 14rem;
    min-height: 15rem;
    border-right: 1px solid #80808057;
    padding: 1rem 1.5rem 0 1rem;
}

.leftSectionContainer .border {
    padding: 0;
}

/*.leftSection {*/
/*    height: 100%;*/
/*    width: 1px;*/
/*    background-color: #80808057;*/
/*}*/