.searchContainer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 2.5rem;
}

.search {
    width: 100%;
    height: 100%;
    background-color: #3b4f79;
    border-radius: 1rem;
    color: white;
    border: 0;

    background-image: url("../../assets/icons-search.png");
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1.5rem;
    padding: 0 3rem;
}

.search:focus {
    outline: none;
}

::placeholder {
    color: rgb(166, 166, 169);
    text-align: center;
}

.imageContainer {
    margin-left: 10px;
}

.imageContainer img {
    max-width: 24px;
    max-height: 24px;
}

.searchClearButton {
    position: absolute;
    right: 1rem;

    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;
    padding: 0;
}