.cardContainer {
    display: flex;
    justify-content: center;

    width: 100%;
    gap: 1rem;
    transition: background-color 0.3s;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem;
}

.cardContainer:hover {
    background-color: rgb(19, 31, 35);
}

.cardUpvotes {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 2rem;
}

.cardInfo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;

    height: 100%;
}

.dataCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 100%;
    max-height: 100%;
}

.dataCard h3 {
    margin: 0;
    color: white;
}

.cardFooter {
    display: flex;
    align-items: center;

    gap: 0.5rem
}

.cardFooter img {
    width: 2rem;
    height: 2rem;
}

.cardFooter p {
    color: rgba(255, 255, 255, 0.61);
    font-size: 0.75rem;
}