main {
    display: flex;
    flex-grow: 1;

    position: relative;

    padding-top: 4rem;
}

.allContentContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 2rem;

    padding: 1rem 2rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}