.subredditContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    transition: background-color 0.3s;
    padding: 0.5rem;
    cursor: pointer;
}

.subredditContainer:hover {
    background-color: rgb(34, 50, 55);
}

.subredditContainer:active {
    transition: none;
    background-color: rgb(41 62 69);
}

.imgSub {
    display: flex;

    cursor: pointer;
}

.imgSub img {
    height: 2rem;
    width: 2rem;
}

.subreddit {
    display: flex;
    flex-direction: column;
}

.subreddit p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.subredditName {
    font-size: 0.9em;
    color: rgb(255 255 255 / 78%);
}

.subredditMembers {
    font-size: 0.8em;
    color: rgb(255 255 255 / 49%);
}